<!-- Hero Start -->
<section class="bg-half bg-light d-table w-100" id="home">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12 text-center">
                <div class="page-next-level">
                    <h4 class="title"> Categories </h4>
                    <div class="page-next">
                        <nav aria-label="breadcrumb" class="d-inline-block">
                            <ul class="breadcrumb bg-white rounded shadow mb-0">
                                <li class="breadcrumb-item"><a routerLink="/console/">Console</a></li>
                                <li class="breadcrumb-item"><a href="javascript:void(0)">Categories</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <!--end col-->
        </div>
        <!--end row-->
    </div>
    <!--end container-->
</section>
<!--end section-->
<!-- Hero End -->

<div class="row p-3">
    <div class="col-12 mx-auto">
        <div class="bg-white shadow-sm rounded p-3 pt-sm-4 pb-sm-5 px-sm-4 mb-4">
            <span><a class="btn btn-success btn-sm addButton mb-4" (click)="openCategoryModal('addCategory', null)">
                <i-feather name="plus" class="icons"></i-feather> </a></span>

            <dx-data-grid #categoriesContainer id="categoriesContainer" [dataSource]="categories"
                [columnAutoWidth]="true" [showBorders]="true" [showRowLines]="true" [showColumnLines]="false"
                [allowColumnReordering]="true" [allowCollapsing]="false" [wordWrapEnabled]="true"
                [hoverStateEnabled]="true" (onFileSaving)="_core.onFileSaving($event, 'categories')">
                <dxo-column-chooser [enabled]="true"></dxo-column-chooser>
                <dxo-paging [enabled]="true" [pageSize]="10"></dxo-paging>
                <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 20, 30]" [showInfo]="true">
                </dxo-pager>
                <dxo-search-panel [visible]="true" [width]="240" [placeholder]="'Search...' | translate">
                </dxo-search-panel>

                <!-- Columns -->
                <dxi-column dataField="name" width="350" [caption]="'Name' | translate">
                </dxi-column>
                <dxi-column dataField="image" width="300" [caption]="'Image' | translate" cellTemplate="imageTemplate">
                </dxi-column>
                <dxi-column dataField="description" width="350" [caption]="'Description' | translate">
                </dxi-column>
                <dxi-column width="200" dataField="createdat" cellTemplate="createdAtTemplate"
                    [caption]="'Creation date' | translate">
                </dxi-column>
                <dxi-column cellTemplate="actionsTemplate" [caption]="" alignment="right">
                </dxi-column>

                <div *dxTemplate="let cell of 'imageTemplate'">
                    <img [src]="'data:image/png;base64,' + cell.data.image" alt="" width="100"
                        height="100" class="cat-image">
                </div>

                <div *dxTemplate="let cell of 'createdAtTemplate'">
                    <span>
                        {{ cell.data.created_at ? getDate(cell.data.created_at) : "-" }}
                    </span>
                </div>

                <div *dxTemplate="let cell of 'actionsTemplate'">
                    <div class="mainActions">
                        <ul>
                            <li>
                                <i-feather name="edit" class="icons blue feather-icon" [title]="'Edit Category' | translate"  (click)="openCategoryModal('updateCategory', cell.data)"></i-feather>
                            </li>
                            <li>
                                <i-feather name="trash" class="icons red feather-icon" [title]="'Delete Category' | translate"  (click)="openCategoryModal('deleteCategory', cell.data)"></i-feather>
                            </li>
                        </ul>
                    </div>
                </div>

                <dxo-export [enabled]="true" fileName="categories" [allowExportSelectedData]="false"
                    [customizeExcelCell]="customizeExcelCell"></dxo-export>
                <dxo-column-chooser [enabled]="true"></dxo-column-chooser>
            </dx-data-grid>
        </div>
    </div>
</div>

<app-modal-category #categoryModals [category]="theCategory" [origin]="origin" [action]="categoryModalAction"
    (categoryModalClosed)="onCategoryModalClosed()">
</app-modal-category>

<ngx-loading [show]="loadingData" [config]="{
    backdropBorderRadius: '3px',
    fullScreenBackdrop: true,
    animationType: animationType
  }"></ngx-loading>