<ng-template #eligibilityModal let-c="close" let-d="dismiss">
    <div class="modal-content">
        <div class="modal-body">
            <div class="row no-gutters">
                <div class="col">
                    <h5 class="text-3 font-weight-400 m-2">
                        {{ modalTitle | translate }}
                        <button type="button" class="close font-weight-400 modal-close" data-dismiss="modal"
                            aria-label="Close" (click)="d('Cross click')">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </h5>
                    <hr />
                    <div class="px-3" *ngIf="eligibility && action == 'view'">
                        <ul class="list-unstyled">
                            <li class="mb-2">
                                {{ "Percentage" | translate }}
                                <span class="float-right text-3">{{ eligibility.percentage }}</span>
                            </li>
                        </ul>
                        <hr class="mb-2" />
                    </div>
                    <div class="px-3">
                        <form class="form" id="EligibilityForm" [formGroup]="eligibilityForm" (ngSubmit)="onSubmitEligibility()">
                            <div>
                                <div class="vertical-input-group mb-2" *ngIf="
                      action == 'updateEligibility' ||
                      action == 'addEligibility'
                    ">
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="percentage" formControlName="percentage"
                                            required placeholder="Percentage" />
                                    </div>
                                </div>
                            </div>

                            <button #EligibilitySubmitBtn type="submit" class="hidden"></button>
                        </form>
                    </div>
                    <div class="px-3" *ngIf="eligibility && action == 'deleteEligibility'">
                        <p class="text-3 text-center text-muted">{{ modalText }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div>
                <button class="btn btn-default btn-sm" (click)="restoreEligibilityForm()" *ngIf="
              action == 'updateEligibility'
            ">
                    {{ "Restore" | translate }}
                </button>
                &nbsp;
                <button class="btn btn-success btn-sm" [disabled]="loading || !eligibilityFormIsValid()" *ngIf="
              action == 'updateEligibility' ||
              action == 'addEligibility'
            " (click)="EligibilitySubmitBtn.click()">
                    <span *ngIf="action == 'updateEligibility'">{{
                        "Update" | translate
                        }}</span>
                    <span *ngIf="action == 'addEligibility'">{{ "Add" | translate }}</span>
                    &nbsp;
                    <div class="spinner-border float-right" role="status" *ngIf="loading">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </button>
            </div>
            <div *ngIf="action == 'deleteEligibility'">
                <button class="btn btn-secondary btn-sm" data-dismiss="modal" aria-label="Close"
                    (click)="d('Cross click')">
                    {{ "Cancel" | translate }}
                </button>
                &nbsp;
                <button class="btn btn-danger btn-sm" [disabled]="loading" (click)="deleteEligibility()">
                    {{ "Confirm" | translate }}&nbsp;
                    <div class="spinner-border float-right" role="status" *ngIf="loading">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </button>
            </div>
        </div>
    </div>
</ng-template>

<ngx-loading [show]="loadingData" [config]="{ backdropBorderRadius: '3px', fullScreenBackdrop: true }"></ngx-loading>